/* .container {
  display: flex;
  justify-content: center;
} */

.enableMultiple {
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  font-size: 20px;
  /* background-color: green; */
  padding: 5px 10px;
}

body {
  background-color: black;
}
.QuestionAnswer {
  background-color: rgba(167, 138, 76, 0.507);
  margin: 10px;
  padding-left: 10px;
  border-radius: 10px;
  color: white;
}

.wrapper {
  /* border: 2px solid black; */
  width: 70%;
  margin: auto;
  padding-left: 20px;
}

.questiontitle {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.myspan {
  background-color: green;
  padding: 0px 8px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
